<div class="dream">
    <% if (theme.dream.showTitle) { %>
    <div class="title center-align">
        <i class="fa fa-coffee"></i>&nbsp;&nbsp;<%= theme.dream.title %>
    </div>
    <% } %>
    <div class="row">
        <div class="col l8 offset-l2 m10 offset-m1 s10 offset-s1 center-align text">
            <p style="line-height: 30px;text-align: left"><%= theme.dream.text %>
            <br/><%= theme.dream.desc %></p>
            <p style="text-align: right"><%= theme.dream.user%></p>
        </div>
    </div>
</div>
